In [1]:
# String Methods

In [1]:
import pandas as pd
orders = pd.read_table('http://bit.ly/chiporders')
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [2]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [2]:
orders.item_name.str.lower()

0                chips and fresh tomato salsa
1                                        izze
2                            nantucket nectar
3       chips and tomatillo-green chili salsa
4                                chicken bowl
                        ...
4617                            steak burrito
4618                            steak burrito
4619                       chicken salad bowl
4620                       chicken salad bowl
4621                       chicken salad bowl
Name: item_name, Length: 4622, dtype: object

In [3]:
# how to add column to existing data frame
orders['item_len']=orders.item_name.str.len()

In [6]:
orders

,order_id,quantity,item_name,choice_description,item_price,item_len
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,28
1,1,1,Izze,[Clementine],$3.39,4
2,1,1,Nantucket Nectar,[Apple],$3.39,16
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,37
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,13
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,13
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,18
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,18
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,18

In [7]:
orders['item_second']=orders.item_name.str.split('and')

In [20]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price,item_len,item_second
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,28,"[Chips , Fresh Tomato Salsa]"
1,1,1,Izze,[Clementine],$3.39,4,[Izze]
2,1,1,Nantucket Nectar,[Apple],$3.39,16,[Nantucket Nectar]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,37,"[Chips , Tomatillo-Green Chili Salsa]"
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12,[Chicken Bowl]

In [24]:
orders['item_second'].loc[0][1]

' Fresh Tomato Salsa'

In [4]:
orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [5]:
nv=orders[orders.item_name.str.contains('Chicken')]

In [6]:
nv

,order_id,quantity,item_name,choice_description,item_price,item_len
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,12
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,20
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,18
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,12
...,...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,12
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,18
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,18
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,18
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,18

In [18]:
df

,order_id,quantity,item_name,choice_description,item_price,item_len,item_second
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12,"[Chicken, Bowl]"
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,12,"[Chicken, Bowl]"
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,20,"[Chicken, Crispy, Tacos]"
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,18,"[Chicken, Soft, Tacos]"
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,12,"[Chicken, Bowl]"
...,...,...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,12,"[Chicken, Bowl]"
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,18,"[Chicken, Soft, Tacos]"
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,18,"[Chicken, Salad, Bowl]"
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,18,"[Chicken, Salad, Bowl]"
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,18,"[Chicken, Salad, Bowl]"

In [7]:
# string methods can be chained together
orders.choice_description.str.replace('[', '').str.replace(']', '').head()

C:\Users\Rajesh\AppData\Local\Temp/ipykernel_7200/7676934.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders.choice_description.str.replace('[', '').str.replace(']', '').head()

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: choice_description, dtype: object

In [67]:
filt = orders['item_name'].str.contains('Chicken', na=False)

In [68]:
filt

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [75]:
orders.loc[filt]

,order_id,quantity,item_name,choice_description,item_price,item_len,item_second
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12,"[Chicken, Bowl]"
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,12,"[Chicken, Bowl]"
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,20,"[Chicken, Crispy, Tacos]"
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,18,"[Chicken, Soft, Tacos]"
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,12,"[Chicken, Bowl]"
...,...,...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,12,"[Chicken, Bowl]"
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,18,"[Chicken, Soft, Tacos]"
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,18,"[Chicken, Salad, Bowl]"
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,18,"[Chicken, Salad, Bowl]"
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,18,"[Chicken, Salad, Bowl]"

In [13]:
orders.choice_description.str.split(',').head()

0                                                  NaN
1                                       [[Clementine]]
2                                            [[Apple]]
3                                                  NaN
4    [[Tomatillo-Red Chili Salsa (Hot),  [Black Bea...
Name: choice_description, dtype: object

In [76]:
orders['item_name_sec']=orders['item_name'].str.split('and')

In [77]:
orders.head(20)

,order_id,quantity,item_name,choice_description,item_price,item_len,item_second,item_name_sec
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,28,"[Chips, and, Fresh, Tomato, Salsa]","[Chips , Fresh Tomato Salsa]"
1,1,1,Izze,[Clementine],$3.39,4,[Izze],[Izze]
2,1,1,Nantucket Nectar,[Apple],$3.39,16,"[Nantucket, Nectar]",[Nantucket Nectar]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,37,"[Chips, and, Tomatillo-Green, Chili, Salsa]","[Chips , Tomatillo-Green Chili Salsa]"
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,12,"[Chicken, Bowl]",[Chicken Bowl]
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,12,"[Chicken, Bowl]",[Chicken Bowl]
6,3,1,Side of Chips,NaN,$1.69,13,"[Side, of, Chips]",[Side of Chips]
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,13,"[Steak, Burrito]",[Steak Burrito]
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,16,"[Steak, Soft, Tacos]",[Steak Soft Tacos]
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,13,"[Steak, Burrito]",[Steak Burrito]
10,5,1,Chips and Guacamole,NaN,$4.45,19,"[Chips, and, Guacamole]","[Chips , Guacamole]"
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,20,"[Chicken, Crispy, Tacos]",[Chicken Crispy Tacos]
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,18,"[Chicken, Soft, Tacos]",[Chicken Soft Tacos]
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,12,"[Chicken, Bowl]",[Chicken Bowl]
14,7,1,Chips and Guacamole,NaN,$4.45,19,"[Chips, and, Guacamole]","[Chips , Guacamole]"
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,37,"[Chips, and, Tomatillo-Green, Chili, Salsa]","[Chips , Tomatillo-Green Chili Salsa]"
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,15,"[Chicken, Burrito]",[Chicken Burrito]
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49,15,"[Chicken, Burrito]",[Chicken Burrito]
18,9,2,Canned Soda,[Sprite],$2.18,11,"[Canned, Soda]",[Canned Soda]
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,12,"[Chicken, Bowl]",[Chicken Bowl]

In [55]:
orders['item_name_sec'][0]

['Chips ', ' Fresh Tomato Salsa']